.converter-page {
    background-color: #f5f5f5;
    display: grid;
    justify-content: center;
    align-content: start;
    width: 100%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.converter-page nav {
    background-color: var(--color-claret);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    height: 100%;
}

.converter-page nav a {
    text-decoration: none;
    color: #FFFFFF;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 2rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
}

.converter-page main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 1.2rem;
    overflow: hidden;
    box-shadow: 0 0 1.5rem #c0c0c0;
    margin-top: 10vh;
}

.converter-page form {
    width: 400px;
    max-width: 100%;
    height: 400px;
    max-height: 100%;
    background-color: var(--color-lighter);
    border-radius: 2rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-auto-flow: column;
    grid-gap: 1rem;
    padding: 1rem;
    color: var(--font-color-dark);
    font-family: "SUSE", sans-serif;
    font-size: 1.2rem;
    box-sizing: border-box;
}

.converter-page fieldset {
    border: none;
    border-radius: 1rem;
    background-color: var(--color-light);
}

.converter-page fieldset.quantity {
    display: flex;
    gap: .5rem;
    align-items: center;
    border: 3px var(--color-sunset) solid;
    padding: .4rem;
}

.converter-page fieldset:has(output) {
    background-color: #f5f5f5;
}

.converter-page fieldset.units {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.converter-page input[type="text"] {
    border: none;
    padding: .3rem;
    color: var(--font-color-dark);
    border-radius: .5rem;
    flex-grow: 1;
    width: 1px;
    font-size: inherit;
}

.converter-page input[type="text"]:focus-visible {
    outline: none;
}

.converter-page fieldset:has(input[type="text"]:focus) {
    border: 3px var(--color-cambridge-blue) solid;
}

.converter-page input[type="radio"] {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 2px solid var(--color-sunset);
}

.converter-page input[type="radio"]:checked {
    background-color: var(--color-sunset);
}

@media screen and (min-width: 768px) {

}
