.landing-page {
    --base-content-width: 100%;
    --color-lightest: #FFFFFF;
    --color-light: #E7EBC5;
    --color-dark: #30011E;
}

.landing-page {
    background-color: var(--color-dark);
    color: var(--color-light);
    font-family: "SUSE", sans-serif;
    width: 100%;
    height: 100%;
}

.landing-page header nav {
    width: var(--base-content-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.landing-page header nav a {
    padding: 1.1rem;
    color: var(--color-light);
    text-decoration: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(currentColor 0 100%)
                0 100% / var(--length, 0) 3px
                no-repeat;
    transition: background 150ms;
}

.landing-page header nav a:hover {
    --length: 100%;
}

.landing-page main {
    width: var(--base-content-width);
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "cta"
        "screenshot";
    align-items: start;
    gap: 2rem;
}

.landing-page .cta {
    display: grid;
    margin-top: 2rem;
    padding: 0 2rem;
}

.landing-page .cta p {
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}

.landing-page .cta a {
    font-size: 1.25rem;
    font-family: "Roboto", sans-serif;
    padding: .7rem 1rem;
    border-radius: .6rem;
    border: 2px var(--color-light) solid;
    justify-self: start;
    text-decoration: none;
    color: var(--color-light);
    display: flex;
    align-items: center;
    background-image: linear-gradient(var(--color-light) 0 100%), linear-gradient(var(--color-light) 0 0);
    background-position: 0 100%, 0 0px;
    background-size: var(--length, 0) .2rem, var(--length, 0) .2rem;
    background-repeat: no-repeat, no-repeat;
    transition: background-size 150ms;
}

.landing-page .cta a:hover {
    --length: 100%;
}

.landing-page .cta a > img {
    width: 2rem;
    height: 2rem;
}

.landing-page figure {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 2rem;
}

.landing-page figure img {
    max-height: 65vh;
    max-width: 100%;
    object-fit: contain;
}

.landing-page figure figcaption {
    color: #fff;
    text-align: center;
}


@media (min-width: 768px) {
    .landing-page main {
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 1fr;
        grid-template-areas: "cta screenshot";
    }

    .landing-page main figure {
        margin-left: 3rem;
        align-items: start;
    }

    .landing-page figure figcaption {
        margin-left: 2rem;
    }

    .landing-page .cta {
        justify-self: end;
    }

    .landing-page .cta a {
        justify-self: end;
    }
}
